@media only screen and (max-width: 480px){
  main {
    background-image: url("images/bg-intro-mobile.png");
    max-width: 30rem;
    padding: 0 1.5rem;
    height: 145vh;
  }

  .container {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .left {
    width: 100%;
    text-align: center;
  }

  .title {
    font-size: 2rem;
    margin: 0 0 1.625rem 0;
  }

  .description {
    font-size: 1.0063rem;
  }

  .right {
    width: 100%;
    margin-top: 4.125rem;
  }

  .text-banner {
    text-align: center;
    line-height: 1.4em;
  }

  br {
    display: block;
  }

  .form {
    padding: 1.4375rem;
  }

  .input-container {
    margin-bottom: 0.9375rem;
  }

  input {
    padding: 1.0625rem 1.125rem;
  }

  input::placeholder {
    position: static;
    font-size: 0.8125rem;
  }

  .btn {
    margin-bottom: 0.9375rem;
  }

  .conditions {
    line-height: 1.8em;
  }

}